.fourn {
    max-width: 360px;
    max-height: 200px;
    min-width: 360px;
    min-height: 200px;
    box-shadow: 0px 3px 6px #DFDFDF;
    display: flex;
    border-radius: 5px;
    position: relative;
}

.alerts {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    margin: 10px auto;
    word-break: break-all;z-index: 1000;
}

.alert mat-icon {
    cursor: pointer;
}

.catalog-btn {
    background-color: #0373bc;
    color: white;
    padding-bottom: 20px;
    height: 33px;
    font-size: 1em;
    vertical-align: middle;
}

.catalog-btn:hover {
    background-color: #fff;
    color: #0373bc;
}


li {
    list-style: none;
    margin-left: 10px;
    color: #0373bc;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1em;
}

.image img {
    background-size: cover;
    width: 100%;
    max-height: 150px;
}

.titre-f {
    color: #0373bc;
    font-size: 1.3em;
    font-weight: 900 !important;
    font-family: "Poppins";
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
}

.label-f {
    font-weight: 600;
    white-space: pre;
}

span {
    cursor: copy;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
}

span.address {
    -webkit-line-clamp: 2;
}



.container {
    width: 90%;
    margin-bottom: 15px;
}

.infos {
    height: 180px;
    font-size: 0.9em;
}