.filter-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.filter-div:hover {
    opacity: 0.6;
}

.filter,
.filter-div p {
    font-weight: 600;
    font-size: 1.2em;
    color: #606060;
}


.filter-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.filter-form-field {
    width: 40%;
    height: 50px;
}

.separator {
    font-size: 2.5em;
}

.btn-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.reset-btn,
.valid-btn {
    font-size: 12px;
    margin: auto;
}

.line {
    border: 1px solid #0373bc;
}

p {
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
}

::ng-deep .mat-form-field-outline,
::ng-deep .mat-form-field,
::ng-deep .mat-form-field-label {
    color: #0373bccc !important;
}

.mat-chip.mat-standard-chip {
    background-color: #f8d442;
    color: white
}

.chip-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.radio-button {
    height: 30px;
    padding: 5px;
}

.ac-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 3px 2px grey;
    max-height: 300px;
    overflow: auto;
}

.ac-item {
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.ac-item:hover {
    background-color: #eee;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #0373bc;
}

::ng-deep .mat-radio-outer-circle {
    border-top-color: #0373bc;
    border-bottom-color: #0373bc;
    border-left-color: #0373bc;
    border-right-color: #0373bc;
}

::ng-deep .depth1 .mat-radio-label-content,
::ng-deep .depth2 .mat-radio-label-content,
::ng-deep .depth3 .mat-radio-label-content {
    overflow: hidden;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-line;
    word-break: break-all;
}

::ng-deep .menu .mat-radio-container {
    display: none !important;
}

::ng-deep .depth1 .mat-radio-label-content {
    max-width: 180px;
}

::ng-deep .depth2 .mat-radio-label-content {
    max-width: 165px;
}

::ng-deep .depth3 .mat-radio-label-content {
    max-width: 150px;
}

.depth2 {
    margin-left: 15px;
}

.depth3 {
    margin-left: 30px;
}

.checked {
    color: #0373bc;
    font-weight: bold;
}
