.form-field {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
}

label {
    font-weight: bold;
}