body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.forget {
  position: absolute;
  margin-left: 10px;
}

.form-check-input {
  background-color: #0373bc;
  border-color: #0373bc;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.connectez {
  font-size: 1.6em;
}

.cat {
  position: absolute;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.check {
  width: 15px;
  height: 15px;
}

.err {
  position: absolute;
  top: -40px;
  width: 100%;
  color: #ff3030;
  font-weight: 500;
  font-size: larger;
}

.full-page {
  max-height: 100vh;
  max-width: 100vw;
}

.logo {
  margin-top: 30%;
}

.container-flex {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer {
  /* height: 25px !important;
  margin-left: 55% !important;
  width: 45% !important;

  background-color: #0373BC;
  color: white;
  text-indent:inherit;
  text-align:left !important;
  font-size: 1.0em;
  position: absolute;
  bottom: 0px; */
  height: 22px !important;
  width: 45% !important;
  background-color: #0369ac;
  color: white;
  margin-left: 55% !important;
  position: fixed;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  align-items: center;

  justify-content: center;
}

.forgot {
  color: black !important;
}

::placeholder {
  color: #0373bc;
  font-style: oblique;
  font-size: 1.1em;
}

.connect {
  font-size: 1.8em;
  color: #0373bc !important;
  font-family: Poppins;
  font-weight: bolder !important;
  text-shadow: 1.5px 0 #0373bc;
  letter-spacing: 1px;
}

.container-flex {
  display: flex;
}

.paragraphe {
  font-size: 1.2em;
  font-weight: bold;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.col-sm-6 {
  width: 55vw;
}

.col-sm-4 {
  width: 45vw;
}
 
.formulaire {
  max-width: 380px;
}

.mat-form-field-appearance-outline {
  color: #0373bc !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0373bc;
}

/* focused color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #0373bc;
}

/* floating label color */
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
  color: #0373bc;
}

.mat-form-field {
  width: 100%;
  
  font-size: 12px;
}

.write {
  margin: auto;
  color: black !important;
}

.socials {
  width: 200px;
  margin: auto;
}

.fa {
  width: 16px;
  height: 16px;
}