p {
    font-size: 1.4em;
    margin-bottom: 2px;
}

p a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.titre {
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Poppins";
}

.fav-icon {
    color: #0373bc;
    width: 33px;
    height: 33px;
    font-size: 2.5em;
    display: flex;
    align-items: center;
}

.line {
    width: 100%;
    border-bottom: 2px solid #b9b9b9;
}


.cat-container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: block;
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.menu-resp {
    display: none;
}

.content {
    width: 100%;
}

@media (max-width: 992px) {
    .cat-container {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu-resp {
        display: block;
    }
}