.page {
    background-color: #f2f2f2;
    overflow: hidden;
    height: 100%;
}

main .image-fond {
    background-image: url("/assets/images/Accueil/image_fond.png");
    background-position: center;
    background-size: cover;
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.image-fond button {
    position: absolute;
    bottom: -18px;
}

.card {
    margin: auto;
    margin-top: -100px;
    box-shadow: 0px 3px 6px #DFDFDF;
    border: none;
    min-width: 300px;
}

p {
    font-size: 2em;
    font-weight: bold;
}


.mat-icon {
    vertical-align: middle;
    cursor: pointer;
    color: #0373bc;
}

.actualites {
    width: 100%;
    background-color: white;
}

.fil {
    /*width: 840px; */
    text-align: center;
    margin: 0;
    padding: 0;
}

.table>:not(caption)>*>* {
    vertical-align: middle;
    font-size: 14px;
}


.scroll {
    width: 5%;
    margin-top: 135px;
    /*height: 100%;*/
    /*margin-right: 10px;*/
}

.actualites {
    width: 100%;
    min-height: 500px;
    padding-bottom: 2%;
}

.det {
    width: 100%;
}

.ref {
    margin-bottom: 10px;
}

.bienvenue {
    color: #fff;
    text-shadow: 0 0 2px black;
    display: flex;
}