.mat-form-field {
  width: 400px;
}
ul {
  list-style: circle;
  border-radius: 15px;
}
.menu {
}

.menu a {
  margin-bottom: 10px;
}

.container {
  background-color: #f6f6f6;
  min-height: 100%;
}
button {
  margin: 10px;
}
.card {
  margin-top: 30px;
  padding: 20px;
}
.card {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #f6f6f6;
}

.left{
  width: 59%;
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.right{
  width: 39%;
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.part {
  width: 49%;
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.titre {
  font-size: 13px;
}
.titre-lg{
  font-size: 13px;
  margin-bottom: 20px;
} 
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
  border-radius: 5px;
}
.menu .btn {
  font-size: 8px;
}
.menu .btn .mat-icon {
  font-size: 20px;
}
.btn {
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 3px;
  width: 48px;
  border-width: thin;
}
.mat-icon {
  vertical-align: middle;
  cursor: pointer;
}
.test {
  width: 100%;
}
.demo-table {
  width: 100%;
}
::ng-deep
  .angular-editor[_ngcontent-lir-c320]
  .angular-editor-wrapper[_ngcontent-lir-c320]
  .angular-editor-textarea[_ngcontent-lir-c320] {
  background-color: #fff !important;
}

td {
  vertical-align: middle;
  font-size: 12px;
  padding: 0;
}
tr {
  padding: 0;
  font-size: 15px;
}
table {
  width: 100%;
}

.mat-row .mat-cell {
  /*border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      background-color: #0373BC;*/
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgba(3, 115, 188, 0.3);
  color: white;
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

::ng-deep .cdk-overlay-pane {
  margin-left: 0px !important;
  margin-top: 40px !important;
}
.html{
  overflow-y: auto;
}
img{
  height: 175px;
  margin-top: 5px;
}