.recherche-container {
    padding: 5px;
    background-color: #F2F2F2;
}

.title {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    color: #0373bc;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.line {
    margin: 5px;
    border-bottom: 1px solid grey;
}

.form-field {
    padding: 0 5px;
    width: 100%;
}

.controls {
    padding: 5px;
}

a {
    color: #0373bc !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.compare {
    position: relative;
    display: flex;
}

.compare span {
    position: absolute;
    top: -15px;
    left: 5px;
    font-weight: 600;
}

::ng-deep .compare .mat-form-field-outline {
    height: 44px;
}