.head {
    background-color: #fff;
    padding: 5px;
  }
  
  .retour {
    border: #4d3535;
    padding: 5px;
  }
  
  .logo {
    float: right;
    height: 30px;
  }
  
  .devis-count {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f8d442;
    border-radius: 15px;
    width: 20px;
    height: 20px;
    margin-right: 2px;
    font-weight: bold;
  }
  
  .menu {
    overflow-x: hidden;
    box-shadow: 0 3px 6px #D2D2D2;
    width: 80%;
    margin: auto;
    background-color: #fff;
  }
  
  .sub-menu-item {
    width: 33%;
    min-width: 280px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .sub-menu-item  img{
    margin-right: 5px;
  }
  
  .sub-menu-item:hover {
    color: #0373bc;
    cursor: pointer;
  }
  
  ::ng-deep .mat-menu-panel{
    background-color: transparent;
  }
  
  .btn {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
    border-radius: 3px;
    width: 90px;
    height: 35px;
    border-width: thin;
  
  }
  
  /* .en-tete {
    height: 3vh;
  } */
  
  .mat-icon {
    color: #0373bc;
    cursor: pointer;
    vertical-align: middle;
  }
  
  .option {
    margin: 5px;
    color: #0373bc;
    cursor: pointer;
  }
  
  .navs {
    background-color: #0373bc;
    color: #f2f2f2;
    padding: 0 10%;
    margin: auto;
  }
  
  ul {
    list-style: none;
    margin-bottom: 0;
  }
  
  li {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.4em;
    cursor: pointer;
  }
  
  .nav-item {
    border-right: 1px solid white;
  }
  
  .nav-item:last-child {
    border: none;
  }
  
  ::ng-deep.mat-menu-panel {
    max-width: none !important;
  }
  
  .active {
    color: #f8d442;
  }
  
  .catalogue-trigger, .gestion-trigger {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 610px) {
    .additional-text {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .associate-logo {
      display: none;
    }
  }
  
  @media (max-width: 350px) {
    .main-logo {
      display: none;
    }
  
    .options {
      margin: auto !important;
      width: 95%;
      font-size: xx-small;
    }
  }
  
  
  /* BURGER */
  .burger mat-icon {
    color: #0373bc;
    cursor: pointer;
  }
  
  .head-desktop {
    display: block;
  }
  
  .head-resp {
    display: none;
  }
  
  /* bootstrap md breakpoint */
  @media (max-width: 992px) {
    .head-desktop {
      display: none;
    }
  
    .head-resp {
      display: block;
    }
  }