<div class="">
    <div class="text-center">	
        <img src="/assets/logo/logo{{client}}.png" width="200" height="60" style="object-fit: contain;">		
        <div class="connect">	
      <span><strong>Récupération de mot de passe</strong></span>
           
        </div>
        <div class="Saisissez">
      <p>Saisissez votre identifiant, et suivez la démarche à suivre reçu par email afin de renouveler votre mot de passe.</p>
        </div>
        <form ngNativeValidate #form>
        <div class="formulaire" style="position: relative;">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Votre identifiant</mat-label>
                    <div *ngIf="client === 'eurochef'; else elseBlock">
                        <input matInput type="text" name="Votre identifiant" placeholder="nom.prenom@eurochef.fr" [(ngModel)]="username">
                    </div>
                    <ng-template #elseBlock>
                        <input matInput type="text" name="Votre identifiant" placeholder="Identifiant" [(ngModel)]="username">

                    </ng-template>

                </mat-form-field>
            </div>
           
            <div style="margin-top: 2vh; margin-bottom: 5vh;">
                <!-- <button mat-button  style="color:white; background-color: rgb(21, 113, 189); padding: 8px; border-radius: 5px;"(click)="submit()">SE CONNECTER</button> -->
                <button type="submit" class="btn-primary mb-2" mat-raised-button (click)="envoyer()" [disabled]="!validBtn || !username">
                Envoyer</button>
            </div>
            
            <p class="err" [ngStyle]="{'visibility': invalidLogin ? '':'hidden'}">Vous n'avez pas de compte sur la plateforme, veuillez-vous rapprocher d'un administrateur.</p>
            <p class="msg" [ngStyle]="{'visibility': wellSent ? '':'hidden'}">Un lien de renouvellement de mot de passe vous a été envoyé</p>
            <p class="err" [ngStyle]="{'visibility': error ? '':'hidden'}">Une erreur est survenue, veuillez réessayer</p>
            <p class="err" [ngStyle]="{'visibility': inactiveAccount ? '':'hidden'}">Votre compte est désactivé, contactez  un administrateur</p>
           
        </div>
    </form>
    </div>

</div>