body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.forget{
    position: absolute;
    margin-left: 10px;
    
    
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
.login-form{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.connectez{
    font-size: 1.6em;
    
}


.cat{
    position: absolute;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.cat img{
  
}

/*.login{
    position: absolute;

    top: 30%;

}*/
/*input{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(21, 113, 189);
    margin-top: 30px;
    padding-left: 10px;
}*/
.check{
    width: 15px;
    height: 15px;
}


.full-page{
    max-height: 100vh;
    max-width: 100vw;
}

.logo{
    margin-top: 30%;
}
.container-flex{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.footer{
    /* height: 25px !important;
    margin-left: 55% !important;
    width: 45% !important;
 
    background-color: #0373BC;
    color: white;
    text-indent:inherit;
    text-align:left !important;
    font-size: 1.0em;
    position: absolute;
    bottom: 0px; */
    height: 22px !important;
    width: 45% !important;
    background-color: #0369ac;
    color: white;
    margin-left: 55% !important;
    position: fixed;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex; 
    align-items: center; 
   
    justify-content: center; 
    
}



.forgot{
    color: black !important;
}

::placeholder{
    color: #0373BC;
    font-style: oblique;
    font-size: 1.1em;
}

.connect{
    font-size : 1.8em;
    color: #0373BC!important;
    font-family: Poppins;
    margin-top: 2vh;
   
    text-decoration-thickness: 20px !important;
}

.container-flex{
    display: flex;
}
.paragraphe{
    font-size: 1.2em;
    font-weight: bold;
}
.login{
    padding-top:20vh;
    padding-left: 10px;
}
.col-sm-6{
    width: 55vw;
}


.write {
    margin-right: 5%;
    margin-left: 5%;
    color: black !important;
  }
.col-sm-4{
    width: 45vw;
}

.formulaire{
    margin-top: 3vh;    
}

.mat-form-field-appearance-outline {
    color:
     
    #0373BC !important;
}

.mat-form-field-appearance-outline .mat-focused .mat-form-field{
    color: #0373BC !important;
}


.Saisissez{
    font-size: 1.2em;
    color: rgb(34, 34, 34);
    text-align: justify;
    margin-top: 3vh;
    margin-left: 16.5%;
    margin-right: 16.5%;
    font-family: Poppins;
}

.mat-form-field{
    width: 30vw;
    font-size: 12px;
  
}



.write {
    margin-right: 16.5%;
    margin-left: 16.5%;
  }


.err, .msg {
    position: absolute;
    bottom: -40px;
    width: 100%;
    font-weight: 500;
}

.err {
    color: #ff3030;
}