.mat-form-field{
    width: 400px;
}
ul{
    list-style: circle;
    border-radius: 15px;
}
.menu{
    margin-top: 30px ;
    width: 5%;
}

.menu a{
    margin-bottom: 10px;
}
.article{
    width: 95%;
    padding: 20px;
}
.container{
    margin-top: 30px;
    width: 900px;
    background-color: #F6F6F6;

}
button{
    margin: 10px;
}
.card{
    margin-top: 30px;
    padding: 20px;
}
.part{
    width: 49%;
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}
.titre{
    margin-bottom: 15px;
    font-size: 13px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
    background-color: #fff;
    border-radius: 5px;  

}
.menu .btn{
    font-size: 8px;
}
.menu .btn .mat-icon{
    font-size:20px;
}
.btn {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
    border-radius: 3px;
    width: 48px;
    height: 30px;
    border-width: thin;
}
.mat-icon{
    vertical-align: middle;
    cursor: pointer;
}

.file-name {
    margin-left: 1rem; /* or whatever margin you require */
}