button {
    font-size: 1em;
    width: 100%;
}

.outil-cat {
    text-align: start;
}

.outils button,
.outils {
    position: relative;
    z-index: 99;
}

.outils .change-popup {
    position: absolute;
    left: -5px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a9ddff;
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: inherit;
    z-index: 100;
}

.change-popup button {
    height: min-content;
    margin-bottom: 15px;
    margin-left: 15px;
}

.rel {
    position: relative;
}

.change-popup mat-icon {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu {
    box-shadow: 0 0 6px grey;
}

.status {
    background-color: #f2f2f2 !important;
}

.color {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px black;
}

.line {
    width: 100%;
    border-bottom: 1px solid #0373bc;
    margin-bottom: 10px;
    margin-top: -5px;
}

.pointers {
    cursor: pointer;
}

.price-section {
    margin-right: auto;
    font-weight: 500;
    font-size: larger;
}

.change-popup .row {
    width: 100%;
}

.outils .row {
    padding: 2.5px 0;
}

.outils .col-5,
.outils .col-6:not(:first-child) {
    padding-left: 5px;
}

::ng-deep .structure .mat-raised-button {
    text-align: start !important;
}

::ng-deep .structure mat-icon {
    margin-right: 5px;
}

::ng-deep .outils .mat-raised-button {
    color: #0373bc;
    border: 1px solid;
    box-shadow: none;
}

::ng-deep .outils .red-btn {
    color: #ff3030;
}

::ng-deep .outils .mat-raised-button:hover,
::ng-deep .outils .selected {
    color: white;
    background-color: #0373bc;
}

::ng-deep .outils .mat-raised-button.mat-button-disabled {
    color: #0373bc;
    background-color: white;
    opacity: 0.4;
}

::ng-deep .outils .red-btn:hover {
    background-color: #ff3030;
}

::ng-deep .outils .structure .mat-button-wrapper {
    display: flex;
    align-items: center;
}

::ng-deep .status-btn .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

::ng-deep .outils .structure .mat-button-wrapper mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}


@media (max-width: 1200px) {
    .outils .change-popup {
        position: fixed;
        top: 30%;
        left: 30%;
        height: fit-content;
    }
}