<div class="text-center">
    <p class="title">{{'RECHERCHER UN PRODUIT'}}</p>
</div>

<form [formGroup]="searchForm">
    <div class="px-2 d-flex justify-content-between">
        <div class="row w-100 p-0 m-0">
            <div class="col-6 col-md-3 px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Catégorie'}}</mat-label>
                    <mat-select placeholder="{{'Séléctionner une categorie'}}" floatlLabel="never" formControlName="Cat">
                        <mat-option *ngFor="let cat of categories" [value]="cat.id">{{getLabel(cat)}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6 col-md-3 px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Fournisseurs'}}</mat-label>
                    <input matInput type="text" placeholder="{{'Fournisseur'}}" (keyup)="onFourInput()" formControlName="Fournisseur"
                        (focusout)="emptyList()" (keyup.enter)="selectFirst()">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-6 px-2">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'Recherche'}}</mat-label>
                    <input matInput type="text" placeholder="{{'Rechercher une référence, un nom de produit'}}"
                        [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" (keyup)="onSearchInput()"
                        [ngModelOptions]="{standalone: true}" (focusout)="emptyList()">
                </mat-form-field>

                <div class="autocomplete-list" *ngIf="autocompleteFournisseurList.length>0">
                    <ul class="p-0" style="list-style: none">
                        <li class="ac-li" *ngFor="let item of autocompleteFournisseurList" (click)="selectFour(item)">
                            {{item.title ? item.title : item.nom}}
                        </li>
                    </ul>
                </div>

                <div class="autocomplete-list" *ngIf="autocompleteSearchList.length>0">
                    <ul class="p-0" style="list-style: none">
                        <li class="ac-li" *ngFor="let item of autocompleteSearchList" (click)="selectItem(item)">
                            {{item.nom ? item.nom : item.designationrapide}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="recherche" class="px-2">
        <div class="row alim-power-weight" style="display: none;">
            <div class="col-12 col-md-4">
                <div class="row lib" style="visibility: hidden;">{{'Contenu invisible'}}</div>
                <div class="row px-2">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{'Alimentation'}}</mat-label>
                        <mat-select formControlName="Alim">
                            <mat-option value="{{'électrique'|titlecase}}">{{'électrique'|titlecase}}</mat-option>
                            <mat-option value="Gaz">{{'Gaz'}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row lib">{{'Puissance compris entre :'}}</div>
                <div class="row minmax px-2">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Puissance min.(W)'}}</mat-label>
                        <input matInput type="number" formControlName="PuissanceMin">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Puissance max.(W)'}}</mat-label>
                        <input matInput type="number" formControlName="PuissanceMax">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row lib">{{'Poids compris entre :'}}</div>
                <div class="row minmax px-2">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Poids min. (Kg)'}}</mat-label>
                        <input matInput type="number" formControlName="PoidsMin">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Poids max. (kg)'}}</mat-label>
                        <input matInput type="number" formControlName="PoidsMax">
                    </mat-form-field>
                </div>
            </div>
        </div>



        <div class="row dimensions p-2" style="background-color: #f2f2f2;">
            <div class="col-12 col-md-4">
                <div class="row lib">{{'Longueur comprise entre :'}}</div>
                <div class="row minmax px-2">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Longueur min.(mm)'}}</mat-label>
                        <input matInput type="number" placeholder="500" formControlName="LongMin">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Longueur max.(mm)'}}</mat-label>
                        <input matInput type="number" placeholder="2000" formControlName="LongMax">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row lib">{{'Largeur comprise entre :'}}</div>
                <div class="row minmax px-2">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Largeur min. (mm)'}}</mat-label>
                        <input matInput type="number" placeholder="400" formControlName="LargMin">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Largeur max. (mm)'}}</mat-label>
                        <input matInput type="number" placeholder="600" formControlName="LargMax">
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="row lib">{{'Hauteur comprise entre :'}}</div>
                <div class="row minmax px-2">
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Hauteur min. (mm)'}}</mat-label>
                        <input matInput type="number" placeholder="500" formControlName="HMin">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-50">
                        <mat-label>{{'Hauteur max. (mm)'}}</mat-label>
                        <input matInput type="number" placeholder="1000" formControlName="HMax">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-2 my-3">
        <div class="col-0 col-md-3 text-center"></div>
        <div class="col-6 col-md-6 text-center">
            <button mat-raised-button class="btn-primary" (click)="search()">{{'RECHERCHER'}}</button>
        </div>
        <div class="col-6 col-md-3 adv-search">
            <span (click)="rechercheAvance()">{{'Recherche'}} {{recherche ? 'simple':'avancée'}}</span><mat-icon
                (click)="rechercheAvance()">{{recherche ? 'expand_less': 'expand_more'}}</mat-icon>
        </div>
    </div>
</form>