.mat-form-field {
    font-size: 12px;
    width: -webkit-fill-available;
}

.search-input {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 2px;
    right: 4px;
    background-color: #0373bc;
    color: #fff;
    border: 1px solid #0373bc;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

button {
    margin-top: 5px;
    width: 200px;
    height: 43px;
}

p {
    font-size: 1.4em;
    margin-bottom: 2px;
}

p a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.titre {
    font-size: 1.6em;
    font-weight: 600;
    font-family: "Poppins";
}

.line {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

a {
    margin-top: 5px;
    height: 43px;
}


.export .btn {
    margin-bottom: 20px;
    font-size: 1.2em;
    width: 100px;
}


@media (max-width: 578px) {
    .export {
        text-align: center !important;
    }

    ::ng-deep .mat-paginator-container {
        flex-direction: column;
        text-align: center;
    }
}