.content{
    margin-top: 30px;
    margin-bottom: 20px;
}

.titre{
    font-size: 1.5em;
}

.bottom{
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.header{
    background-color: #0373bc;
    color: #f6f6f6;
    padding-left: 5px;
}