.menu .btn {
  font-size: 8px;
}
.menu .btn .mat-icon {
  font-size: 20px;
}
.menu a {
  margin-bottom: 10px;
}
.btn {
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 3px;
  width: 48px;
  height: 40px;
  border-width: thin;
}
