.mat-form-field {
  width: 400px;
}
ul {
  list-style: circle;
  border-radius: 15px;
}
.menu {
  margin-top: 30px;
}

.menu a {
  margin-bottom: 10px;
}
.disabled {
  cursor: none;
  opacity: 0.5;
  pointer-events: none;
}
.container {
  background-color: #f6f6f6;
}
button {
  margin: 10px;
}
.card {
  margin-top: 30px;
  padding: 20px;
}
.card {
  padding: 20px;
  margin-bottom: 60px;
  background-color: #f6f6f6;
}
.part {
  width: 49%;
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}
.titre {
  margin-bottom: 15px;
  font-size: 13px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #fff;
  border-radius: 5px;
}
.menu .btn {
  font-size: 8px;
}
.menu .btn .mat-icon {
  font-size: 20px;
}
.btn {
  font-size: 13px;
  font-family: "Roboto", sans-serif !important;
  border-radius: 3px;
  width: 48px;
  border-width: thin;
}
.mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

.demo-table {
  width: 100%;
}

td {
  vertical-align: middle;
  font-size: 12px;
  padding: 0;
}
tr {
  padding: 0;
  font-size: 15px;
}
table {
  width: 100%;
}

.mat-row .mat-cell {
  /*border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      background-color: #0373BC;*/
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: rgba(3, 115, 188, 0.3);
  color: white;
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
