p {
    font-size: 1.4em;
    margin-bottom: 2px;
}

p a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.titre {
    font-size: 1.6em;
    font-weight: 600;
    font-family: "Poppins";
}

.line {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}

.table-container {
    overflow: auto;
    width: 100%;
    max-width: 100%;
}

.table-container table {
    min-width: 100%;
}

.table-container table td, .table-container table th {
    /* font-size: 1em; */
    padding: 5px;
}

.action-icon {
    cursor: pointer;
    display: none;
}

.menu {
    border: 1px solid #0373bc;
    box-shadow: 0 0 3px #0373bc;
    border-radius: 5px;
    background-color: #fff;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    border-bottom: 1px solid rgb(128, 128, 128, 0.7);
    padding: 5px;
    cursor: pointer;
}

.menu ul li:hover {
    border-bottom: 1px solid rgb(128, 128, 128, 0.7);
    padding: 5px;
    color: #0373bc;
}

::ng-deep .mat-table-sticky {
    right: -1px !important;
}


@media (max-width: 992px) {
    .action-icon {
        display: inline;
    }

    .action-btn {
        display: none;
    }
}