.dashboard .title {
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 900 !important;
    text-align: center;
    margin: 30px auto;
}

.dashrow :first-child {
    padding-right: 10px;
}

.dashrow :last-child {
    padding-left: 10px;
}

.dashboard-item {
    padding: 5px;
    margin-bottom: 1rem;
    background-color: #fff;
    min-width: 350px;
    height: 400px;
    border-radius: 10px;
}

label {
    color: #0373BCBD;
    font-size: 1.6em;
    font-weight: bold;
    padding: 10px 5px;
}

.ngx-donut .chart-wrapper path:hover {
    cursor: pointer;
    stroke-width: 35px;
}

.legend {
    display: flex;
    flex-flow: column;
    margin-left: 50px;
    margin-top: 80px;
}

.libelle {
    width: 33.3%;
    padding-left: 10px;
}

.ngx-donut .chart-wrapper path:hover {
    cursor: pointer;
    transform-origin: center;
    transform: scale(1.05);
}

#chart {
    min-height: 300px;
    min-width: 350px;
    max-width: 500px;
    margin: auto;
    height: 90%;
    display: grid;
    align-content: space-around;
}

.see-btn:hover {
    color: #0373bc !important;
    background-color: white !important;
}

td {
    vertical-align: middle;
}

@media (max-width: 450px) {
    .btn-col {
        display: none;
    }
}


@media (max-width: 992px) {
    .dashrow :first-child {
        padding-right: 0;
    }

    .dashrow :last-child {
        padding-left: 0;
    }

    .table {
        width: 98%;
        margin: auto;
    }
}