.article-form {
    display: flex;
    flex-direction: column;

}

.article-form-section {
    margin: 15px 0;
    padding: 5px;
    background-color: #F2F2F2;
    border-radius: 5px;
}

.article-form-section h2 {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    color: #0373bc;
    font-weight: 600;
    font-size: 1.1em;
    cursor: pointer;
}

.article-form-section mat-form-field,
.article-form-section mat-checkbox,
.article-form-section mat-radio-group {
    width: 50%;
    padding: 10px;
}

.file-name {
    position: absolute;
    top: 30px;
    color: black;
}