.menu{
    padding-top: 20px;
    width: 5%;
}
.article{
    padding-top: 20px;
    width: 93%;
}
.right{
    width: 35%;
}
.left{
    padding: 5px;
    width: 65%;
    position: relative;
}
.inside-l{
    padding: 10px;
    width: 60%;
    background-color: rgb(192 192 192 / 41%);
}
.inside-r{
    width: 40%;
}
.inside{
    margin-top: 20px;
    width: 200px;
}
.mat-icon{
    font-size: 17px;
    cursor: pointer;
    pointer-events: all;
}
.page{
    width: 100%;
    height: 100vh;
}
.menu .btn{
    font-size: 8px;
}
.menu .btn .mat-icon{
    font-size:20px;
}
.menu a{
    margin-bottom: 10px;
}
ul{
    list-style: square;
}
li{
    margin: 1px;
}
.mat-form-field{
    width: 80%;
}
textarea{
    height: 100px;
    overflow-y: auto;
}
.card{
    width: 25vw;
    margin-bottom: 20px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline  {
    background-color: #fff;
    border-radius: 5px;  

}
.menu .btn{
    font-size: 8px;
}
.menu .btn .mat-icon{
    font-size:20px;
}
.btn {
    font-size: 13px;
    font-family: "Roboto", sans-serif !important;
    border-radius: 3px;
    width: 48px;
    height: 30px;
    border-width: thin;
}
.mat-icon{
    vertical-align: middle;
    cursor: pointer;
}